
    <div class="row mg-5">
        <div class="col-xs-12 col-sm-8">
            <a href="/flight-travel" class="travel-form image-hover-effect"><img src="~/Themes/ShopLion/Content/images/holiday-grid.jpg" alt="holiday" class="img-responsive"></a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/shopping-home" class="image-hover-effect"><img src="https://gqcdn.s3.amazonaws.com/PlaneCRM/Images/In-Flight.jpg" alt="meals-grid" class="img-responsive"></a>
        </div>
    </div>
    <div class="row mg-5">
        <div class="col-xs-12 col-sm-8">
            <a href="/shopping-home" class="image-hover-effect"><img src="~/Themes/ShopLion/Content/images/insurance-grid.jpg" alt="insurance" class="img-responsive"></a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="/flight-travel" class="travel-form image-hover-effect"><img src="~/Themes/ShopLion/Content/images/hotel-grid.jpg" alt="hotel-grid" class="img-responsive"></a>
        </div>
    </div>
