@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <div class="compare-products overview-btn" >
        <button type="button" class="button-2 add-to-compare-list-button btn btn-default" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;"><i class="glyphicon glyphicon-retweet left-caret"></i> @T("Products.Compare.AddToCompareList")</button>
    </div>
}