@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.EmailAFriendEnabled)
{
    <div class="email-a-friend form-group overview-btn">
        <button type="button" class="button-2 email-a-friend-button btn btn-default" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')" ><i class="glyphicon  glyphicon-envelope left-caret"></i> @T("Products.EmailAFriend")</button>
    </div>
}
