<form id="company-attachment" method="post" action="/pos-registration" style="display: none;" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input name="title" value="Company Attachment" type="hidden">
    <div class="container animated fadeIn">
        <div class="row">
            <div class="col-sm-12"></div>
            <div class="col-sm-12">
                <div class="panel-heading">
                    <h3 class="hfoot">SUPPORTING<span>DOCUMENTS</span></h3>
                </div>
                <div class="panel-body">
                    <input name="id_pos" id="id_pos_comp_att" type="hidden">
                    <input name="step" value="3" type="hidden">
                    <input name="company_certificate" type="hidden" value="">
                    <input name="tax_number" type="hidden" value="">
                    <input name="bussiness_license" type="hidden" value="">
                    <input name="id_director" type="hidden" value="">
                    <div id="scs">

                    </div>
                    <label for="akta-notaris">Business License (SIUP)*</label>
                    <input type="file" required="required" name="files" id="license_button">
                    <label for="akta-notaris">Company Certificate (AKTA)</label>
                    <input type="file" class="uploadify-button-text" name="files" id="certificate_button">
                    <label for="akta-notaris">Tax License (NPWP)</label>
                    <input type="file" class="uploadify-button-text" name="files" id="tax_button">
                    <label for="akta-notaris">Director ID Card (e-KTP)</label>
                    <input type="file" class="uploadify-button-text" name="files" id="identity_button">
                    <br><br>
                    Note : Max upload for each attachment is 5 MB.
                </div>
                <div class="panel-footer">
                    <button type="submit" onclick="return validateFiles('company_3');" ref="company_3" class="button-1 btn btn-danger">Finish</button>
                </div>
            </div>
        </div>
    </div>
</form>